<% layout('../layout')%>
    <% block('title', 'reclamations')%>

        <header>
            <div class="page-heading2">
                <div class="container">
                    <h1>Students Reclamations</h1>
                    <p>You can read students reclamations about their notes </p>
                </div>
                <div class="row text-center">
                    <a href="/dashboard" type="button" class="btn btn-default btn-lg">Return to dashboard</a>
                </div>
            </div>
        </header>

        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Num</th>
                        <th>Name</th>
                        <th>Filiere</th>
                        <th>Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<reclamations.length ; i++){ %>
                        <tr>
                            <td>
                                <%= i+1 %>
                            </td>
                            <td>
                                <%= reclamations[i].name %>
                            </td>
                            <td>
                                <%= reclamations[i].filiere %>
                            </td>
                            <td>
                                <%= reclamations[i].date %>
                            </td>
                            <td>
                                <a href="/reclamation/<%=reclamations[i].id%>" class="btn btn-default pull-right">read</a>
                            </td>
                            <td>
                                <!-- <form action="/teacher/reclamation/<%=reclamations[i].id%>?_method=delete" method="post">
                                    <input type="submit" class="btn btn-danger" value="delete">
                                </form> -->
                                <a class="btn btn-danger te-delete-reclamation" data-id=<%=reclamations[i].id%> >delete</a>

                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>

        </div>